.blog-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.blog-head h1{
    font-size: 30px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #1F3A8A;
    opacity: 0;
    transform: scale(0.95);
    animation: popUp 0.5s ease-out forwards;
}

.blog-cards{
    display: flex;
    justify-content: center;
    align-self: start;
    gap: 20px;
    flex-wrap: wrap;
}

.blog-card{
    border: 1px solid #3c83f696;
    border-radius: 10px;
    box-shadow: 6px 6px #3c83f671;
    padding: 20px;
    opacity: 0;
    transform: scale(0.95);
    animation: popUp 0.5s ease-out forwards;
}

.blog-card h3{
    font-size: 24px;
    font-family: 'Montserrat';
    font-weight: 500;
    color: #3C82F6;
}

.blog-card p{
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
}

.blog-card img{
    max-width: fit-content;
}

.blog-card button{
    background-color: #3E517A;
    color: #f5f5f5;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    width: 100px;
    cursor: pointer;
    font-family: 'Poppins';
    font-weight: 500;
    transition: 0.5s ease-in-out;
}

.blog-card button:hover{
    background-color: #38A0ED;
    color: #f5f5f5;
}

@keyframes popUp {
    to {
        opacity: 1;
        transform: scale(1);
    }
}


.blog-card:nth-child(1) {
    animation-delay: 0.1s;
}

